@using SchoolOffline.Models;
@{
    Layout = "_LayoutOnlineNew";
}
@section Header{
    <title>@Model.title | 霹雳猿教程</title>
    <link rel="canonical" href="@Model.canonical">
    <meta name="keywords" content="@Model.title">
    <meta name="description" content="@Model.desc">
}
<div class="row middle-content">
            <aside class="col-sm-2 no-padding-column">
                <div class="collapse navbar-nav navbar-collapse navbar-collapse-2 left-menu " id="left-menu">
                    <ul class="level1 nav nav-list primary">
                        @Html.Raw(Model.menuHtml)
                    </ul>
                </div>
            </aside>
            <div class="col-sm-7 ">
                <ul class="pager">
                    <li class="pervious" id="divPrev1">
                        @Html.Raw(Model.lastPageHref)
                    </li>
                    <li class="next" id="divNext1">
                        @Html.Raw(Model.nextPageHref)
                    </li>
                </ul>
                @Html.Raw(Model.content) 
                <ul class="pager">
                    <li class="pervious" id="divPrev2">
                        @Html.Raw(Model.lastPageHref1)
                    </li>
                    <li class="next" id="divNext2">
                        @Html.Raw(Model.nextPageHref1)
                    </li>
                </ul>
                <div class="ds-thread" data-thread-key="123" data-title="请替换成文章的标题" data-url="www.piliyuan.com" id="ds-thread">
                    <div id="ds-reset">
                        <ul class="ds-comments">
                        <li class="ds-post" data-post-id="6350403284343194370"><div class="ds-post-self" data-post-id="6350403284343194370" data-thread-id="6350403246875476737" data-root-id="0" data-source="duoshuo"><div class="ds-avatar" data-user-id="6281135417970393858"><a rel="nofollow author" target="_blank" href="http://t.qq.com/qingwengang" onclick="this.href='http://piliyuan.duoshuo.com/user-url/?user_id=6281135417970393858';" title="静水深流"><img src="http://static.duoshuo.com/images/noavatar_default.png" alt="静水深流"></a></div><div class="ds-comment-body"><div class="ds-comment-header"><a class="ds-user-name ds-highlight" data-qqt-account="" href="http://t.qq.com/qingwengang" onclick="this.href='http://piliyuan.duoshuo.com/user-url/?user_id=6281135417970393858';" rel="nofollow" target="_blank" data-user-id="6281135417970393858">静水深流</a></div><p>fdsfsfds</p><div class="ds-comment-footer ds-comment-actions"><span class="ds-time" datetime="2016-11-08T09:28:04+08:00" title="2016年11月8日 上午9:28:04">31分钟前</span><a class="ds-post-reply" href="javascript:void(0);"><span class="ds-icon ds-icon-reply"></span>回复</a><a class="ds-post-likes" href="javascript:void(0);"><span class="ds-icon ds-icon-like"></span>顶</a><a class="ds-post-repost" href="javascript:void(0);"><span class="ds-icon ds-icon-share"></span>转发</a><a class="ds-post-report" href="javascript:void(0);"><span class="ds-icon ds-icon-report"></span>举报</a><a class="ds-post-delete" href="javascript:void(0);"><span class="ds-icon ds-icon-delete"></span>删除</a></div></div></div></li>
                        <li class="ds-post" data-post-id="6350403293616800513"><div class="ds-post-self" data-post-id="6350403293616800513" data-thread-id="6350403246875476737" data-root-id="0" data-source="duoshuo"><div class="ds-avatar" data-user-id="6281135417970393858"><a rel="nofollow author" target="_blank" href="http://t.qq.com/qingwengang" onclick="this.href='http://piliyuan.duoshuo.com/user-url/?user_id=6281135417970393858';" title="静水深流"><img src="http://static.duoshuo.com/images/noavatar_default.png" alt="静水深流"></a></div><div class="ds-comment-body"><div class="ds-comment-header"><a class="ds-user-name ds-highlight" data-qqt-account="" href="http://t.qq.com/qingwengang" onclick="this.href='http://piliyuan.duoshuo.com/user-url/?user_id=6281135417970393858';" rel="nofollow" target="_blank" data-user-id="6281135417970393858">静水深流</a></div><p>fdsfs</p><div class="ds-comment-footer ds-comment-actions"><span class="ds-time" datetime="2016-11-08T09:28:06+08:00" title="2016年11月8日 上午9:28:06">31分钟前</span><a class="ds-post-reply" href="javascript:void(0);"><span class="ds-icon ds-icon-reply"></span>回复</a><a class="ds-post-likes" href="javascript:void(0);"><span class="ds-icon ds-icon-like"></span>顶</a><a class="ds-post-repost" href="javascript:void(0);"><span class="ds-icon ds-icon-share"></span>转发</a><a class="ds-post-report" href="javascript:void(0);"><span class="ds-icon ds-icon-report"></span>举报</a><a class="ds-post-delete" href="javascript:void(0);"><span class="ds-icon ds-icon-delete"></span>删除</a></div></div></div></li>
                        <li class="ds-post" data-post-id="6350403303892845314"><div class="ds-post-self" data-post-id="6350403303892845314" data-thread-id="6350403246875476737" data-root-id="0" data-source="duoshuo"><div class="ds-avatar" data-user-id="6281135417970393858"><a rel="nofollow author" target="_blank" href="http://t.qq.com/qingwengang" onclick="this.href='http://piliyuan.duoshuo.com/user-url/?user_id=6281135417970393858';" title="静水深流"><img src="http://static.duoshuo.com/images/noavatar_default.png" alt="静水深流"></a></div><div class="ds-comment-body"><div class="ds-comment-header"><a class="ds-user-name ds-highlight" data-qqt-account="" href="http://t.qq.com/qingwengang" onclick="this.href='http://piliyuan.duoshuo.com/user-url/?user_id=6281135417970393858';" rel="nofollow" target="_blank" data-user-id="6281135417970393858">静水深流</a></div><p>ss</p><div class="ds-comment-footer ds-comment-actions"><span class="ds-time" datetime="2016-11-08T09:28:08+08:00" title="2016年11月8日 上午9:28:08">31分钟前</span><a class="ds-post-reply" href="javascript:void(0);"><span class="ds-icon ds-icon-reply"></span>回复</a><a class="ds-post-likes" href="javascript:void(0);"><span class="ds-icon ds-icon-like"></span>顶</a><a class="ds-post-repost" href="javascript:void(0);"><span class="ds-icon ds-icon-share"></span>转发</a><a class="ds-post-report" href="javascript:void(0);"><span class="ds-icon ds-icon-report"></span>举报</a><a class="ds-post-delete" href="javascript:void(0);"><span class="ds-icon ds-icon-delete"></span>删除</a></div></div></div></li></ul>
                    </div>
                </div>
            </div>
        </div>

    <input type="hidden" id="currentMenu" value="@Model.currentMenu" />
@section Scripts{
<script type="text/javascript">
    $(document).ready(function () {
        var path = $(location).attr('pathname');
        $('#left-menu ul li a[href="' + path + '"]').addClass('active');
    });
    function _dmBootstrap(file) {
        var _dma = document.createElement('script');
        _dma.type = 'text/javascript';
        _dma.async = true;
        _dma.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + file;
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(_dma);
    }
    function _dmFollowup(file) { if (typeof DMAds === 'undefined') _dmBootstrap('cdn2.DeveloperMedia.com/a.min.js'); }
    (function () { _dmBootstrap('cdn1.DeveloperMedia.com/a.min.js'); setTimeout(_dmFollowup, 2000); })();
</script>
    }
