@using SchoolOffline.Models;
@{
    Layout = "_LayoutOnlineNew";
}
@section Header{
    <title>@Model.title | 霹雳猿教程</title>
    <link rel="canonical" href="@Model.canonical">
    <meta name="keywords" content="@Model.title">
    <meta name="description" content="@Model.desc">
}
<div class="row middle-content">
            <aside class="col-sm-2 no-padding-column">
                <div class="collapse navbar-nav navbar-collapse navbar-collapse-2 left-menu " id="left-menu">
                    <ul class="level1 nav nav-list primary">
                        @Html.Raw(Model.menuHtml)
                    </ul>
                </div>
            </aside>
            <div class="col-sm-7 ">
                <ul class="pager">
                    <li class="pervious" id="divPrev1">
                        @Html.Raw(Model.lastPageHref)
                    </li>
                    <li class="next" id="divNext1">
                        @Html.Raw(Model.nextPageHref)
                    </li>
                </ul>
                @Html.Raw(Model.content) ``
                <ul class="pager">
                    <li class="pervious" id="divPrev2">
                        @Html.Raw(Model.lastPageHref1)
                    </li>
                    <li class="next" id="divNext2">
                        @Html.Raw(Model.nextPageHref1)
                    </li>
                </ul>
                <div class="ds-thread" data-thread-key="123" data-title="请替换成文章的标题" data-url="www.piliyuan.com" id="ds-thread">
                    <div id="ds-reset">
                        <ul class="ds-comments">
                        @Html.Raw(Model.comment)
                            <li class="ds-post"><div class="ds-post-self" data-source="duoshuo"><div class="ds-avatar"><img src="http://static.duoshuo.com/images/noavatar_default.png"></div><div class="ds-comment-body"><div class="ds-comment-header">卿文刚</div><p>就是转义的意思.. 比如你想输出个" 但是这个符号会被解释掉...所以你转义一下就可以了..</p><div class="ds-comment-footer ds-comment-actions"><span class="ds-time" datetime="2016-11-08T09:28:04+08:00" title="2016年11月8日 上午9:28:04">2016-11-01 13:52:28</span></div></div></div></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    <input type="hidden" id="currentMenu" value="@Model.currentMenu" />
@section Scripts{
<script type="text/javascript">
    $(document).ready(function () {
        var path = $(location).attr('pathname');
        $('#left-menu ul li a[href="' + path + '"]').addClass('active');
    });
    function _dmBootstrap(file) {
        var _dma = document.createElement('script');
        _dma.type = 'text/javascript';
        _dma.async = true;
        _dma.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + file;
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(_dma);
    }
    function _dmFollowup(file) { if (typeof DMAds === 'undefined') _dmBootstrap('cdn2.DeveloperMedia.com/a.min.js'); }
    (function () { _dmBootstrap('cdn1.DeveloperMedia.com/a.min.js'); setTimeout(_dmFollowup, 2000); })();
</script>
    }
