@using SchoolOffline.Models;
@{
    Layout = "_LayoutOnline";
    ViewBag.tuijianmenuHtml = Model.tuijianmenuHtml;
}
@model CourseDetailModel
@section Header{
<title>@Model.title | 霹雳猿教程</title>
<link rel="canonical" href="@Model.canonical">
<meta name="keywords" content="@Model.title">
<meta name="description" content="@Model.desc">
}
<style type="text/css">
    .green {
        color: #e8f0de;
        border: solid 1px #538312;
        background: #64991e;
        background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
        background: -moz-linear-gradient(top, #7db72f, #4e7d0e);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
    }

    .button {
        display: inline-block;
        zoom: 1;
        vertical-align: baseline;
        margin: 0 2px;
        outline: none;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        font: 14px/100% Arial, Helvetica, sans-serif;
        padding: .5em 2em .55em;
        text-shadow: 0 1px 1px rgba(0,0,0,.3);
        -webkit-border-radius: .5em;
        -moz-border-radius: .5em;
        border-radius: .5em;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
        box-shadow: 0 1px 2px rgba(0,0,0,.2);
    }
</style>

<div class="container main"> 
    <div class="row"> 
        <div class="col left-column">
            <div class="sidebar-box gallery-list"> 
            <div class="design" id="leftcolumn"> 
                @Html.Raw(Model.menuHtml)
                </div> 
            </div>
        </div>
        <div class="col middle-column">
            <div class="article">
                <div class="article-body"> 
                    <div class="article-intro" id="content"> 
                        @if (!string.IsNullOrEmpty(Model.lastPageHref))
                        {
                            @Html.Raw("上一章节：" + Model.lastPageHref + "<br>")
                        }
                        @if (!string.IsNullOrEmpty(Model.nextPageHref))
                        {
                            @Html.Raw("下一章节：" + Model.nextPageHref + "<br>")
                        }
                        <hr />
                        @Html.Raw(Model.content) <hr />
                        @if(!string.IsNullOrEmpty(Model.lastPageHref)){ 
                            @Html.Raw("上一章节："+ Model.lastPageHref + "<br>")
                        }
                        @if (!string.IsNullOrEmpty(Model.nextPageHref))
                        {
                            @Html.Raw("下一章节：" + Model.nextPageHref + "<br>")
                        }
                    </div> 
                </div>
            </div>
        </div>
        <div class="fivecol last right-column">
            
            <div class="tab tab-light-blue">分类导航</div> 
            <div class="sidebar-box sidebar-cate"> 
            <div class="sidebar-tree"> 
                <ul>
                    <li class=""> <a href="javascript:void(0);" class="tit">HTML教程</a></li>
                    <li class=""> <a href="javascript:void(0);" class="tit">HTML5教程</a></li>
                    <li class=""> <a href="javascript:void(0);" class="tit">CSS教程</a></li>
                    <li class=""> <a href="javascript:void(0);" class="tit">My SQL教程</a></li>
                    <li class=""> <a href="javascript:void(0);" class="tit">C#教程</a></li>
                    <li class=""> <a href="javascript:void(0);" class="tit">JAVA教程</a></li>
                    <li class=""> <a href="javascript:void(0);" class="tit">ASP.NET教程</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="pageId" value="@Model.pageId" />
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var id = $("#pageId").val();
            $("#" + id).addClass("selected");
            $("#" + id).css('background-color', 'rgb(150, 185, 125)');
        })
    </script>
}