@using DoctorOffline.Entity;
@{ 
    SchoolContent content = (SchoolContent)ViewData["content"];
    String[] titles = (String[])ViewData["titles"];
    List<String> typeList = (List<String>)ViewData["typeList"];
}
<link href="~/css/jquery.treeview.css" rel="stylesheet" />
<link href="~/css/screen.css" rel="stylesheet" />
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="~/js/jquery.cookie.js"></script>
<script src="~/js/jquery.treeview.js"></script>
<script src="~/js/jquery.treeview.edit.js"></script>

<link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
<script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<link rel="stylesheet" href="jqueryui/style.css">
<style type="text/css">
    .fixed_div {
        position: fixed;
        left: 300px;
        top: 20px;
        width: 300px;
    }
    .right_div {
        position: fixed;
        top: 20px;
    }
</style>



<div style="width:2400px; height:auto;float:left;">
    <div style="width:300px; height:auto; float:left; display:inline">
        <ul id="tree" class="filetree">
            @Html.Raw(@ViewData["html"])
        </ul>
        <br />
        <select id="sel">
            @foreach (var item in typeList)
            {
                <option value="@item">@item</option>
            }
            <option value="ALL">ALL</option>
        </select>
        <br />
        <input type="button" value="静态页面初始化" onclick="InitStaticPage();" /><br />
        <input type="button" value="菜单初始化" onclick="InitMenu();" />
        <input type="button" value="一切初始化" onclick="InitAllOnline();" />
        <br />
        <ul id="muluList"></ul>
        <br/>
        <input type="text" id="txtSortNum" />
        <input type="button" value="设置sortnum" onclick="setSortNum();" />
    </div>
    <div id="middleDiv"  style="width:300px;top:0px; height:500px; float:left; display:inline">
        
    </div>
    <div class="fixed_div">
        <ul id="ulHrefs">
            @foreach (string title in titles)
            {
                <li><a onclick="a('@title')">@title</a></li>
            }
        </ul>
        <br />
        <ul id="treeType" class="filetree">
            @Html.Raw(@ViewData["typeHtml"])
        </ul>
        <input type="button" value="推送" onclick="Pass();" />
        <br />
        <input type="button" value="对比" onclick="compare();" />
        <br />
        <a href="/School/TiyEdit?courseTitle=HTML%20教程" target="_blank">添加实例</a><br />
        <a href="/DIY/1.html" target="_blank">DIY</a>
    </div>
    <div style="width:800px; height:1000px; float:left; display:inline">
        标题：<input type="text" id="txtTitle" style="width:500px;" /><br />
        <textarea name="content" id="container">
            
        </textarea>
        <br />
        <input type="button" value="保存" onclick="Save();" />&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" value="完成" onclick="Complete();" />
        
    </div>
    <div class="right_div" style="width:800px; height:auto; float:left; display:inline">
        标题：<input type="text" style="width:500px;" /><br />
        <textarea name="content" id="outcontainer" style="display:none;">
            
        </textarea>
        <iframe id="ifw" style="width:800px;height:900px;display:none;" src="https://www.baidu.com/s?ie=UTF-8&wd=iframe"></iframe>
    </div>
</div>
<input type="hidden" id="currentMuluId" value="@ViewData["muluId"]" />
<input type="hidden" id="currentTypeId" />
<input type="hidden" id="currentCourseId" />
<script src="~/editor/ueditor.config.js"></script>
<script src="~/editor/ueditor.all.js"></script>
<script type="text/javascript">
    $("#tree").treeview({ collapsed: true });
    $("#treeType").treeview({ collapsed: true });
    $(function () {
        var ue = UE.getEditor('container');
    })
    function GetContent(muluId) {
        $.ajax({
            url: "/School/GetContent",
            type: "GET",
            data: { muluId: muluId },
            success: function (data) {
                var ue = UE.getEditor('container');
                ue.setContent(data.content);
                var ue1 = UE.getEditor('outcontainer');
                ue1.setContent(data.outerContent);
                $("#txtTitle").val(data.title);
                $("#ulHrefs").html(data.hs);
            }
        })
        $(".mulu").removeClass("selectedColor");
        $("#" + muluId).addClass("selectedColor");
        $("#currentMuluId").val(muluId);
    }
    function selectType(typeId) {
        $(".mulutype").removeClass("selectedColor");
        $("#type_" + typeId).addClass("selectedColor");
        $("#currentTypeId").val(typeId);
        $.ajax({
            url: "/School/GetSortModelByMuluName",
            type: "GET",
            cache:false,
            data: { muluId: typeId },
            success: function (data) {
                var html = "";
                for(var i=0;i<data.length;i++){
                    html += "<li id='sortmulu_" + data[i].id + "' class='sortMulu ' onClick=setCurrentCourseId(" + data[i].id + ");>" + data[i].title + "_" + data[i].sortNum + "&nbsp;&nbsp;&nbsp;<a targt=_blank href='/School/EditCourse?id=" + data[i].id + "'>修改</a></li>";
                }
                $("#muluList").html(html);
            }
        })
    }
    function setCurrentCourseId(currentSortMuluId) {
        $("#currentCourseId").val(currentSortMuluId);
        $(".sortMulu").removeClass("selectedColor");
        $("#sortmulu_" + currentSortMuluId).addClass("selectedColor");
    }
    function Save() {
        var content = UE.getEditor('container').getContent();
        var title = $("#txtTitle").val();
        var muluId = $("#currentMuluId").val();
        $.ajax({
            url: "/School/SaveContent",
            type: "POST",
            data: { muluId: muluId,content:content,title:title },
            success: function (data) {
                alert(data);
            }
        })
    }
    function Complete() {
        var muluId = $("#currentMuluId").val();
        $.ajax({
            url: "/School/Complete",
            type: "POST",
            data: { muluId: muluId},
            success: function (data) {
                alert(data);
            }
        })
    }
    function Pass(){
        var muluId = $("#currentMuluId").val();
        var typeId = $("#currentTypeId").val();
        var title = $("#txtTitle").val();
        var content = UE.getEditor('container').getContent();
        $.ajax({
            url: "/School/Pass",
            type: "POST",
            data: { muluId: muluId,typeId:typeId,title:title,content:content},
            success: function (data) {
                alert(data);
            }
        })
    }
    function InitStaticPage() {
        var selectType = $("#sel").val();
        $.ajax({
            url: "/School/InitStaticPageByTypeName",
            type: "GET",
            data: { type:selectType },
            success: function (data) {
                alert(data);
            }
        })
    }
    function InitMenu() {
        var selectType = $("#sel").val();
        $.ajax({
            url: "/School/InitMenu",
            type: "GET",
            data: { type: selectType },
            success: function (data) {
                alert(data);
            }
        })
    }
    function InitAllOnline() {
        var selectType = $("#sel").val();
        $.ajax({
            url: "/School/InitAllOnline",
            type: "GET",
            data: { type: selectType },
            success: function (data) {
                alert(data);
            }
        })
    }
    function setSortNum() {
        var sortNum = $("#txtSortNum").val();
        var currentCourseId = $("#currentCourseId").val();
        $.ajax({
            url: "/School/setSortNum",
            type: "GET",
            data: { sortNum: sortNum, currentCourseId:currentCourseId },
            success: function (data) {
                alert(data);
                if (data == "success") {
                    var typeid=$("#currentTypeId").val();
                    selectType(typeid);
                }
            }
        })
    }
    function a(keyword) {
        var url = "https://www.baidu.com/s?ie=utf-8&f=8&rsv_bp=0&rsv_idx=1&tn=baidu&wd=" + keyword;
        $("#ifw").attr("src", url);
        $("#ifw").show();
        $("#outcontainer").hide();
    }
    function b(keyword) {
        var url = "http://cn.bing.com/search?q=" + keyword;
        $("#ifw").attr("src", url);
        $("#ifw").show();
        $("#outcontainer").hide();
    }
    function c(keyword) {
        var url = "https://www.google.com/?gws_rd=ssl#q=" + keyword;
        window.open(url);
    }
    function compare() {
        $("#ifw").hide();
        $("#outcontainer").show();
    }
</script>
