@using DoctorOffline.Entity;
@{ 
    SchoolContent content = (SchoolContent)ViewData["content"];
    String[] titles = (String[])ViewData["titles"];
    List<String> typeList = (List<String>)ViewData["typeList"];
}
<link href="~/css/jquery.treeview.css" rel="stylesheet" />
<link href="~/css/screen.css" rel="stylesheet" />
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="~/js/jquery.cookie.js"></script>
<script src="~/js/jquery.treeview.js"></script>
<script src="~/js/jquery.treeview.edit.js"></script>

<link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
<script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<link rel="stylesheet" href="jqueryui/style.css">
<style type="text/css">
    .fixed_div {
        position: fixed;
        left: 300px;
        top: 20px;
        width: 300px;
    }
    .right_div {
        position: fixed;
        top: 20px;
    }
</style>
<div style="width:2400px; height:auto;float:left;">
    <div style="width:200px; height:950px; float:left; display:inline;overflow: scroll">
        <ul id="tree" class="filetree">
            <span id="1" class="mulu blue selectedColor"">已推送</span>
            <span id="1" class="mulu green selectedColor"">已修改</span>
            <br />
            @Html.Raw(@ViewData["html"])
        </ul>
        <br />
        
    </div>
    <div id="middleDiv"  style="width:300px;top:0px; height:950px; float:left; display:inline;overflow: scroll">
        <ul id="ulHrefs"></ul>
        <hr />
        <input type="button" value="修改Online Course数据" onclick="Update();" />
        <input type="button" value="对比" onclick="compare();" /><br />
        <input type="button" value="保存" onclick="Save();" />&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" value="完成" onclick="Complete();" />
        <hr />
        <ul id="treeType" class="filetree">
            @Html.Raw(@ViewData["typeHtml"])
        </ul>
        <input type="button" value="推送" onclick="Pass();" />
        <input type="button" value="无条件推送" onclick="PassNoReason();" />
        <hr />
        <ul id="muluList"></ul>
        <input type="text" id="txtSortNum" />
        <input type="button" value="设置sortnum" onclick="setSortNum();" />
        <hr />
        <a href="/HTML/1.html" target="_blank">Online页面</a>
        <a href="/School/DIYEdit?type=HTML" target="_blank">添加DIY实例</a>
        <a href="/DIY/1.html" target="_blank">DIY</a>&nbsp;&nbsp;&nbsp;<a href="/Mulu/Index" target="_blank">目录编辑</a><br />
        <a href="/QuestionAdmin" target="_blank">添加笔试题</a>
        <hr />
        <select id="sel">
            @foreach (var item in typeList)
            {
                <option value="@item">@item</option>
            }
            <option value="DIY">DIY</option>
            <option value="tuijian">tuijian</option>
            <option value="ALL">ALL</option>
        </select>
        <br />
        <input type="button" value="静态页面初始化" onclick="InitStaticPage();" />
        <input type="button" value="菜单初始化" onclick="InitMenu();" /><br />
        <input type="button" value="一切初始化" onclick="InitAllOnline();" />
        <input type="button" value="页面导航初始化" onclick="InitPageHref();" />
    </div>
    @*<div class="fixed_div">
        
    </div>*@
    <div style="width:700px; height:900px; float:left; display:inline">
        标题：<input type="text" id="txtTitle" style="width:500px;" /><br />
        <textarea name="content" id="container">
        </textarea>
        <br />
        <input type="button" value="保存" onclick="Save();" />&nbsp;&nbsp;&nbsp;&nbsp;
        @*<input type="button" value="完成" onclick="Complete();" />*@
    </div>
    <div  style="width:800px; height:auto; float:left; display:inline;overflow: scroll">
        标题：<input type="text" id="txtSearch" style="width:500px;" /><br />
        <input type="button" value="百度" onclick="search('baidu')" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="bing" onclick="search('bing')" />
        <iframe id="ifw" style="width:800px;height:900px;display:none;" src="https://www.baidu.com/s?ie=UTF-8&wd=iframe"></iframe>
    </div>
<input type="hidden" id="currentMuluId" value="@ViewData["muluId"]" />
<input type="hidden" id="currentTypeId" />
<input type="hidden" id="currentCourseId" />
<script src="~/editor/ueditor.config.js"></script>
<script src="~/editor/ueditor.all.js"></script>
<script type="text/javascript">
    $("#tree").treeview({ collapsed: true });
    $("#treeType").treeview({ collapsed: true });
    var ue = UE.getEditor('container');
    function GetContent(muluId) {
        $.ajax({
            url: "/School/GetContent",
            type: "GET",
            data: { muluId: muluId },
            success: function (data) {
                ue.setContent(data.content);
                $("#txtTitle").val(data.title);
                $("#ulHrefs").html(data.hs);
            }
        })
        $(".mulu").removeClass("selectedColor");
        $("#" + muluId).addClass("selectedColor");
        $("#currentMuluId").val(muluId);
        UE.getEditor('container').setHeight(750)
    }
    function AddMulu() {
        var type1 = $("#selAddType").val();
        var name = $("#txtAddName").val();
        var content = UE.getEditor('container').getContent();
        $.ajax({
            url: "/School/AddMulu",
            type: "POST",
            data: { type1: type1, content: content, name: name },
            success: function (data) {
                alert(data);
            }
        })
    }
    function selectType(typeId) {
        $(".mulutype").removeClass("selectedColor");
        $("#type_" + typeId).addClass("selectedColor");
        $("#currentTypeId").val(typeId);
        $.ajax({
            url: "/School/GetSortModelByMuluName",
            type: "GET",
            cache:false,
            data: { muluId: typeId },
            success: function (data) {
                var html = "";
                for(var i=0;i<data.length;i++){
                    html += "<li id='sortmulu_" + data[i].id + "' class='sortMulu ' onClick=setCurrentCourseId(" + data[i].id + ");>" + data[i].title + "_" + data[i].sortNum + "&nbsp;&nbsp;&nbsp;<a targt=_blank href='/School/EditCourse?id=" + data[i].id + "'>修改</a></li>";
                }
                $("#muluList").html(html);
            }
        })
    }
    function setCurrentCourseId(currentSortMuluId) {
        $("#currentCourseId").val(currentSortMuluId);
        $(".sortMulu").removeClass("selectedColor");
        $("#sortmulu_" + currentSortMuluId).addClass("selectedColor");
    }
    function Save() {
        var content = UE.getEditor('container').getContent();
        var title = $("#txtTitle").val();
        var muluId = $("#currentMuluId").val();
        $.ajax({
            url: "/School/SaveContent",
            type: "POST",
            data: { muluId: muluId,content:content,title:title },
            success: function (data) {
                alert(data);
            }
        })
    }
    function Complete() {
        var muluId = $("#currentMuluId").val();
        $.ajax({
            url: "/School/Complete",
            type: "POST",
            data: { muluId: muluId},
            success: function (data) {
                alert(data);
            }
        })
    }
    function Pass(){
        var muluId = $("#currentMuluId").val();
        var typeId = $("#currentTypeId").val();
        var title = $("#txtTitle").val();
        var content = UE.getEditor('container').getContent();
        $.ajax({
            url: "/Course/Pass",
            type: "POST",
            data: { muluId: muluId,typeId:typeId,title:title,content:content},
            success: function (data) {
                alert(data);
            }
        })
    }
    function Update() {
        var muluId = $("#currentMuluId").val();
        var typeId = $("#currentTypeId").val();
        var title = $("#txtTitle").val();
        var content = UE.getEditor('container').getContent();
        $.ajax({
            url: "/Course/Update",
            type: "POST",
            data: { muluId: muluId, typeId: typeId, title: title, content: content },
            success: function (data) {
                alert(data);
            }
        })
    }
    function PassNoReason() {
        var typeId = $("#currentTypeId").val();
        var title = $("#txtTitle").val();
        var content = UE.getEditor('container').getContent();
        $.ajax({
            url: "/Course/Pass",
            type: "POST",
            data: { muluId: 0, typeId: typeId, title: title, content: content },
            success: function (data) {
                alert(data);
            }
        })
    }
    function InitStaticPage() {
        var selectType = $("#sel").val();
        $.ajax({
            url: "/Init/InitStaticPageByTypeName",
            type: "GET",
            data: { type:selectType },
            success: function (data) {
                alert(data);
            }
        })
    }
    function InitPageHref() {
        var selectType = $("#sel").val();
        $.ajax({
            url: "/OnlinePageManage/InitPageHref",
            type: "GET",
            data: { type: selectType },
            success: function (data) {
                alert(data);
            }
        })
    }
    function InitMenu() {
        var selectType = $("#sel").val();
        $.ajax({
            url: "/Init/InitMenu",
            type: "GET",
            data: { type: selectType },
            success: function (data) {
                alert(data);
            }
        })
    }
    function InitAllOnline() {
        var selectType = $("#sel").val();
        $.ajax({
            url: "/Init/InitAllOnline",
            type: "GET",
            data: { type: selectType },
            success: function (data) {
                alert(data);
            }
        })
    }
    function setSortNum() {
        var sortNum = $("#txtSortNum").val();
        var currentCourseId = $("#currentCourseId").val();
        $.ajax({
            url: "/OnlinePageManage/setSortNum",
            type: "GET",
            data: { sortNum: sortNum, currentCourseId:currentCourseId },
            success: function (data) {
                alert(data);
                if (data == "success") {
                    var typeid=$("#currentTypeId").val();
                    selectType(typeid);
                }
            }
        })
    }
    function a(keyword) {
        var url = "https://www.baidu.com/s?ie=utf-8&f=8&rsv_bp=0&rsv_idx=1&tn=baidu&wd=" + keyword;
        $("#ifw").attr("src", url);
        $("#ifw").show();
    }
    function b(keyword) {
        var url = "http://cn.bing.com/search?q=" + keyword;
        $("#ifw").attr("src", url);
        $("#ifw").show();
    }
    function c(keyword) {
        var url = "https://www.google.com/?gws_rd=ssl#q=" + keyword;
        window.open(url);
    }
    function s360(keyword) {
        var url = "https://www.so.com/s?q=" + keyword;
        $("#ifw").attr("src", url);
        $("#ifw").show();
    }
    function compare() {
        var muluId = $("#currentMuluId").val();
        window.open("/School/CompareShow?muluId=" + muluId);
    }
    function search(searchType) {
        var searchText = $("#txtSearch").val();
        var url = searchType == "baidu" ? "https://www.baidu.com/s?ie=utf-8&f=8&rsv_bp=0&rsv_idx=1&tn=baidu&wd=" + searchText : "http://cn.bing.com/search?q=" + searchText;
        $("#ifw").attr("src", url);
        $("#ifw").show();
    }
</script>
